input, textarea, select{
  padding: 10px 15px;
  width: 70% !important;
  border: 1px solid black !important;
}

.required_label::after {
  content: ' *';
  color: red;
}

.input-width-auto input{
  width: auto !important;
  position: relative;
  top: 1px;
}

.input-width-auto label.required_label::after{
  content: '';
}