input, textarea{
  padding: 10px 15px;
  width: 70%;
  border: 1px solid black;
}

.required::after {
  content: ' *';
  color: red;
}

.input-width-auto input{
  width: auto;
  position: relative;
  top: 1px;
}

.input-width-auto label.required::after{
  content: '';
}