input, textarea, select{
  padding: 10px 15px;
  width: 100%;
  max-width: 700px;
  border: 1px solid black !important;
}

input[type='submit']{
  width: auto !important;
}

.required_label::after {
  content: ' *';
  color: red;
}

.input-width-auto input{
  width: auto !important;
  position: relative;
  top: 1px;
}

.input-width-auto label.required_label::after{
  content: '';
}

.author-outer-wrapper{
  width: 100%;
  max-width: 700px;
  padding: 20px 0 0 30px;
  border: 1px solid gray;
  border-radius: 10px;
}

.author-form-wrapper{
  border: solid grey 1px;
  border-radius: 10px;
  padding: 20px 20px 0 20px;
  margin: 0 0 20px 0;
  width: 70%;
}

.errorlist{
  color: red;
}

