{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% load static %}
{% load compress %}

{% block content %}

<head>
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'sass/publications.scss' %}">
	{% endcompress %}
</head>

<div class="container">
	<h3>Publications</h3>
	<div id="controls">
    {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'add_publication' %}"><button>Add publication</button></a>
		{% endif %}
	</div>
	<table>
		<tr>
			<td>
				Name
			</td>
			<td>
				Author/s
			</td>
			<td>
				Link
			</td>
		</tr>
		{% for publication in publications %}
		<tr>
			<td>
				{{publication.name}}
			</td>
			<td>
				{{publication.authors}}
			</td>
			<td>
				<a href="{{publication.link}}">{{publication.link}}</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>
{% endblock %}

