{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% load static %}
{% load compress %}

{% block content %}

<head>
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'sass/publications.scss' %}">
	{% endcompress %}

    {% compress js %}
        <script src="{% static 'js/publications.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endcompress %}
</head>

<div class="container">
	<div class="d-flex flex-column">
		<h3>Publications</h3>
		{% if not user.is_authenticated %}
			<a class="align-self-end" href="{% url 'add_publication' %}">Add publication</a>
		{% endif %}
	</div>

    <div class="mt-4 mb-4">
        {% for publication in publications %}
            <div class="mt-4">
                <p class="m-0 p-0">
                    <button data-toggle="collapse" data-target="#pub_dropdown_{{ publication.pub.id }}" onclick="togglePub('pub_dropdown_icon_{{ publication.pub.id }}')">
                        <i id="pub_dropdown_icon_{{ publication.pub.id }}" class="typcn typcn-arrow-sorted-down"></i>
                    </button>
                     {{publication.citation|safe}}
                </p>
                <div class="collapse p-0 m-0" aria-expanded="false" id="pub_dropdown_{{ publication.pub.id }}">
                    <div class="pl-5 pt-2">
                        <p class="m-0 p-0">
                            <p class="m-0 pb-2">
                                Abstract: {{ publication.pub.abstract }}
                            <p>
                            <div>
                                Author(s):
                                <ul>
                                    {% for author in publication.authors %}
                                        <li> {% if author.corresponding %} (Corresponding) <a href="mailto:{{author.email}}">{{ author.name }}</a> {% else %} {{ author.name }} {% endif %}  </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <p class="m-0 pt-2">
                                Year: {{ publication.pub.year }}
                            <p>
                            <p class="m-0 pt-2">
                                Journal: {{ publication.pub.journal }}
                            </p>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if current_page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'publications' current_page|add:"-1" %}?pubs_per_page={{ pubs_per_page }}">Previous</a>
                </li>
            {% endif %}
            {% for pageNo in shown_pages %}
                <li class="page-item {% if current_page == pageNo %} active {% endif %}">
                    <a class="page-link" href="{% url 'publications' pageNo %}?pubs_per_page={{ pubs_per_page }}">{{pageNo}}</a>
                </li>
            {% endfor %}
            {% if not last_page %}
                <li class="page-item"><a class="page-link" href="{% url 'publications' current_page|add:"1" %}?pubs_per_page={{ pubs_per_page }}">Next</a></li>
            {% endif %}
            <p class="pagination_text ml-2 mb-0 p-0 d-inline">Publications per page: </p>
            <select onchange="updatePagination('{% url 'publications' current_page %}',this)" class="ml-2 custom-select" style="width:auto">
              <option {% if pubs_per_page == 10 %} selected {% endif %} value="10">10</option>
              <option {% if pubs_per_page == 20 %} selected {% endif %} value="20">20</option>
              <option {% if pubs_per_page == 50 %} selected {% endif %} value="50">50</option>
            </select>
        </ul>

    </nav>

	</div>
</div>
{% endblock %}

