{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% load static %}
{% load compress %}


{% block content %}
<head>
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'sass/tools.scss' %}">
	{% endcompress %}
</head>
<div class="container">
    {% if user.is_authenticated %}
    <h3>Private Tools</h3> 
        {% if private %}
        <div class="row border border-primary">
            <div class="col-1 border-right border-primary"></div>
            <div class="col-2 border-right border-primary text-center" style="padding-bottom:3px; padding-top:2px;">Tool Name</div>
            <div class="col-2 border-right border-primary text-center" style="padding-bottom:3px; padding-top:2px;">Findability</div>
            <div class="col-2 border-right border-primary text-center" style="padding-bottom:3px; padding-top:2px;">Accessibility</div>
            <div class="col-2 border-right border-primary text-center" style="padding-bottom:3px; padding-top:2px;">Interoperability</div>
            <div class="col-2 border-right border-primary text-center" style="padding-bottom:3px; padding-top:2px;">Reusability</div>
            <div class="col-1"></div>
        </div>
            {% for tool in private %}
            <div class="row border border-secondary border-top-0 ">
                <div class="col-1 border-right mt-1 mb-1"><img src="{% static 'imgs/' %}private.png" width=40 height=40></div>
                <div class="col-2 border-right mt-1 mb-1" style="padding-top:7px;"><a href="private/{{tool.id}}">{{tool.tool_name}}</a></div>
                <div class="col-2 border-right mt-1 mb-1" score="0" id="privateFindability">0%</div>
                <div class="col-2 border-right mt-1 mb-1" score="0" id="privateAccessibility">0%</div>
                <div class="col-2 border-right mt-1 mb-1" score="0" id="privateInteroperability">0%</div>
                <div class="col-2 border-right mt-1 mb-1" score="0" id="privateReusability">0%</div>
                <div class="col-1 mt-1 mb-1"><a href="add/{{tool.id}}">Add to Pipeline</a></div>
            </div>
            {% endfor %}
        {% else %}
            <div class="row border"> <div class="col mt-1 mb-1">You do not have any private tools.</div></div>
        {% endif %}
        <a href="">Add private tool</a>
        <br>
    <br>
    <h3 class="float-left">Public Tools</h3><a class="float-right mt-4" href="/portal/add">Add tool</a>
    <br/><br/>
    
    {% else %}
    <h3 class="float-left">Tools</h3><a class="float-right mt-4" href="">Add tool</a><br/><br/>
    {% endif %}

    <table>
		<tr>
            <td>
                Image
            </td>
			<td>
				Tool Name
			</td>
			<td>
				Findability
			</td>
			<td>
				Accessibility
			</td>
            <td>
				Interoperability
			</td>
            <td>
				Reusability
			</td>
            <td>
                Operation
            </td>
		</tr>
		{% for tool in tools %}
		<tr>
            <td>
                <img src="{% static 'imgs/' %}{{tool.tool.tool_name | lower}}.png" width=40 height=40>
            </td>
			<td>
				<a href="details/{{tool.tool_id}}">{{tool.tool.tool_name}}</a>
			</td>
			<td class="score" score="{{tool.findability}}">
				{{tool.findability}}%
			</td>
            <td class="score" score="{{tool.accessibility}}">
                {{tool.accessibility}}%
            </td>
            <td class="score" score="{{tool.interoperability}}">
                {{tool.interoperability}}%
            </td>
            <td class="score" score="{{tool.reusability}}">
                {{tool.reusability}}%
            </td>
            <td>
                <a href="add/{{tool.tool_id}}">Add to Pipeline</a>
            </td>
		</tr>
		{% endfor %}
	</table>
    
    <br/>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    $('.score').each(function(){
        var value = $(this).attr('score');
        console.log(value);
        var hue=((0+(value/100))*120).toString(10);
        this.style.backgroundColor = ["hsl(",hue,",100%,50%)"].join("");
    });
    
    </script>

{% endblock %}