{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% load static %}
{% load compress %}

{% block content %}

    <head>
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/add_publication.scss' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/bootstrap-combobox.scss' %}">
        {% endcompress %}

        {% compress js %}
            <script src="{% static 'js/add_publication.js' %}" type="text/javascript" charset="utf-8"></script>
            <script src="{% static 'js/bootstrap-combobox-author.js' %}" type="text/javascript" charset="utf-8"></script>
        {% endcompress %}
    </head>

    <div class="container">
        <div class="d-flex flex-column mb-4">
            <h3>{% if is_edit %}Edit{% else %}Add{% endif %} Publication</h3>
            <p class="mt-1 mb-0">Please {% if is_edit %}modify{% else %}fill in{% endif %} the form below to {% if is_edit %}edit the{% else %}add a{% endif %} publication</p>
            {% if errors.form_has_errors %}
                <p class="mt-2 mb-0 text-center error-notification">
                    The submitted form has errors. Please correct them as per the provided instructions.
                </p>
            {% endif %}
        </div>
        <div class="mb-4">
            <form method=POST>
                {% csrf_token %}
                <div class="fieldWrapper mb-2">
                    <p class="mb-2">
                        {{ form.title.label_tag }}
                    </p>
                    {{ form.title }}
                    <p>
                        {{ form.title.errors }}
                    </p>
                </div>
                <div class="fieldWrapper mb-2">
                    <p>Authors</p>
                    {{ author_form_set.management_form }}
                    <div class="author-outer-wrapper" id="author_form_set">
                        <p class="author-outer-wrapper-info {% if errors.no_corresponding_author %} error-notification {% endif %}">
                            A publication must have at least one author with at least one being corresponding
                        </p>
                        <div class="d-flex mr-2 mb-4">
                            <select id='existing-author-select' class='custom-select combobox background-none'>
                                <option></option>
                                {% for author in all_authors %}
                                    <option value='{"name":"{{ author.name }}","surname": "{{ author.surname }}","email": "{{ author.email }}"}'>{{ author.name }} {{ author.surname }}</option>
                                {% endfor %}
                            </select>
                            <button onclick="addExistingAuthor()" class="btn btn-outline-primary ml-2" type="button">Add Existing Author</button>
                        </div>
                        <button onclick="addNewAuthor()" class="btn btn-outline-primary mb-4" type="button">Add New Author</button>
                        {% for author_form in author_form_set %}
                            <div id="author_form_{{ forloop.counter0 }}" class="author-form-wrapper">
                                <div class="mb-2">
                                    <button type='button' class="expand-button" data-toggle="collapse" data-target="#author_dropdown_{{ forloop.counter0 }}"
                                            onclick="toggleAuthorForm('author_dropdown_icon_{{ forloop.counter0 }}')">
                                        <i id="author_dropdown_icon_{{ forloop.counter0 }}" class="typcn typcn-arrow-sorted-down"></i>
                                    </button>
                                    <span>Author {{ forloop.counter }}{% if author_form.errors|length > 0 %}<span class="error-notification">(Has Errors)</span>{% endif %}</span>
                                </div>
                                <div class="collapse" id="author_dropdown_{{ forloop.counter0 }}" expanded="false" aria-expanded="false">
                                    <button onclick="removeAuthor({{ forloop.counter0 }})" class="btn btn-outline-primary mb-0" type="button">Remove Author</button>
                                    {% for field in author_form.visible_fields|slice:"0:3" %}
                                        <div class="fieldWrapper mb-2">
                                            <p class="mb-0">
                                                {{ field.label_tag }}
                                            </p>
                                            {{ field }}
                                            <p class="mb-0">
                                                {{ field.errors }}
                                            </p>
                                        </div>
                                    {% endfor %}
                                    <div class="fieldWrapper mb-0">
                                        {{ author_form.corresponding.label_tag }}
                                        {{ author_form.corresponding }}
                                        <p>
                                            {{ author_form.corresponding.errors }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% for field in form.visible_fields|slice:"1:6" %}
                    <div class="fieldWrapper mb-2">
                        <p class="mb-2">
                            {{ field.label_tag }}
                        </p>
                        {{ field }}
                        <p>
                            {{ field.errors }}
                        </p>
                    </div>
                {% endfor %}
                <div class="fieldWrapper mb-2 input-width-auto">
                    {{ form.hidden.label_tag }}
                    {{ form.hidden }}
                    <p>
                        {{ form.hidden.errors }}
                    </p>
                </div>

                <br>
                <br>
                <input class="btn btn-outline-primary" type=submit value='{% if is_edit %}Edit{% else %}Add{% endif %} Publication'>
                <a class="btn btn-outline-primary" href="{% url 'publications' 1 %}">Back to publications</a>
            </form>
        </div>
    </div>

    <div id="empty_form" style="display:none">
        <div id="author_form___prefix__" class="author-form-wrapper">
            <div class="mb-2">
                <button type='button' class="expand-button" data-toggle="collapse" data-target="#author_dropdown___prefix__"
                        onclick="toggleAuthorForm('author_dropdown_icon___prefix__')">
                    <i id="author_dropdown_icon___prefix__" class="typcn typcn-arrow-sorted-down"></i>
                </button>
                <span>Author __prefix1__</span>
            </div>
            <div class="collapse" id="author_dropdown___prefix__" expanded="true" aria-expanded="true">
                <button type='button' onclick="removeAuthor(__prefix__)" class="btn btn-outline-primary mb-0" type="button">Remove Author</button>
                {% for field in author_form_set.empty_form.visible_fields|slice:"0:3" %}
                    <div class="fieldWrapper mb-2">
                        <p class="mb-0">
                            {{ field.label_tag }}
                        </p>
                        {{ field }}
                        <p class="mb-0">
                            {{ field.errors }}
                        </p>
                    </div>
                {% endfor %}
                <div class="fieldWrapper mb-0">
                    {{ author_form_set.empty_form.corresponding.label_tag }}
                    {{ author_form_set.empty_form.corresponding }}
                    <p class="mb-0">
                        {{ author_form_set.empty_form.corresponding.errors }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>updateTypeName(document.getElementById("id_pubType"))</script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.combobox').combobox();
      });
    </script>
{% endblock %}
