{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% load static %}
{% load compress %}

{% block content %}

    <head>
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/add_publication.scss' %}">
        {% endcompress %}

        {% compress js %}
            <script src="{% static 'js/add_publication.js' %}" type="text/javascript" charset="utf-8"></script>
        {% endcompress %}
    </head>

    <div class="container">
        <div class="d-flex flex-column mb-4">
            <h3>Add Publication</h3>
            <a class="align-self-start" href="{% url 'publications' 1 %}">Back to publications</a>
            <p class="mt-4">Please fill in the form below to add a publication</p>
        </div>
        <div>
            <form method=POST>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    {% if field.name not in 'hidden' %}
                        <div class="fieldWrapper mb-2">
                            {{ field.errors }}
                            <p class="mb-2">
                                {{ field.label_tag }}
                            </p>
                            {{ field }}
                        </div>
                    {% elif field.name == 'hidden' %}
                        <div class="fieldWrapper mb-2 input-width-auto">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <br>
                <br>
                <input class="btn btn-outline-primary rounded-0" type=submit value='Add Publication'>
            </form>
        </div>
    </div>
{% endblock %}
