{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% load static %}
{% load compress %}

{% block content %}

    <head>
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/add_publication.scss' %}">
        {% endcompress %}

        {% compress js %}
            <script src="{% static 'js/add_publication.js' %}" type="text/javascript" charset="utf-8"></script>
        {% endcompress %}
    </head>

    <div class="container">
        <div class="d-flex flex-column mb-4">
            <h3>{% if is_edit %}Edit{% else %}Add{% endif %} Publication</h3>
            <p class="mt-4">Please {% if is_edit %}modify{% else %}fill in{% endif %} the form below to {% if is_edit %}edit the{% else %}add a{% endif %} publication</p>
        </div>
        <div class="mb-4">
            <form method=POST>
                {% csrf_token %}
                <div class="fieldWrapper mb-2">
                    <p class="mb-2">
                        {{ form.title.label_tag }}
                    </p>
                    {{ form.title }}
                    <p>
                        {{ form.title.errors }}
                    </p>
                </div>
                <div class="fieldWrapper mb-2">
                    <p>Authors</p>
                    {{ author_form_set.management_form }}
                    <div class="author-outer-wrapper" id="author_form_set">
                        <p>
                            First and middle names of authors should be abbreviated to a single letter.
                            <br/>
                            Corresponding authors must have an e-mail address.
                        </p>
                        <button onclick="addAuthor()" class="btn btn-outline-primary mb-4" type="button">Add Author</button>
                        {% for author_form in author_form_set %}
                            <div id="author_form_{{ forloop.counter0 }}" class="author-form-wrapper">
                                {% if forloop.counter0 != 0 %}
                                <button onclick="removeAuthor({{ forloop.counter0 }})" class="btn btn-outline-primary mb-4" type="button">Remove Author</button>
                                {% endif %}
                                {% for field in author_form.visible_fields|slice:"0:2" %}
                                    <div class="fieldWrapper mb-2">
                                        <p class="mb-2">
                                            {{ field.label_tag }}
                                        </p>
                                        {{ field }}
                                        <p>
                                            {{ field.errors }}
                                        </p>
                                    </div>
                                {% endfor %}
                                <div class="fieldWrapper mb-2 input-width-auto">
                                    {{ author_form.corresponding.label_tag }}
                                    {{ author_form.corresponding }}
                                    <p>
                                        {{ author_form.corresponding.errors }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% for field in form.visible_fields|slice:"1:6" %}
                    <div class="fieldWrapper mb-2">
                        <p class="mb-2">
                            {{ field.label_tag }}
                        </p>
                        {{ field }}
                        <p>
                            {{ field.errors }}
                        </p>
                    </div>
                {% endfor %}
                <div class="fieldWrapper mb-2 input-width-auto">
                    {{ form.hidden.label_tag }}
                    {{ form.hidden }}
                    <p>
                        {{ form.hidden.errors }}
                    </p>
                </div>

                <br>
                <br>
                <input class="btn btn-outline-primary" type=submit value='{% if is_edit %}Edit{% else %}Add{% endif %} Publication'>
                <a class="btn btn-outline-primary" href="{% url 'publications' 1 %}">Back to publications</a>
            </form>
        </div>
    </div>

    <div id="empty_form" style="display:none">
        <div id="author_form_" class="author-form-wrapper">
            <button onclick="removeAuthor()" class="btn btn-outline-primary mb-4" type="button">Remove Author</button>
            <div class="fieldWrapper mb-2">
                <p class="mb-2">
                    {{ author_form_set.empty_form.name.label_tag }}
                </p>
                <input onchange="updateTextValue(this)" type="text" name="form-__prefix__-name" maxlength="1000" id="id_form-__prefix__-name" required="">
                <p>
                    {{ author_form_set.empty_form.name.errors }}
                </p>
            </div>
            <div class="fieldWrapper mb-2">
                <p class="mb-2">
                    {{ author_form_set.empty_form.email.label_tag }}
                </p>
                {{ author_form_set.empty_form.email }}
                <p>
                    {{ author_form_set.empty_form.email.errors }}
                </p>
            </div>
            <div class="fieldWrapper mb-2 input-width-auto">
                {{ author_form_set.empty_form.corresponding.label_tag }}
                {{ author_form_set.empty_form.corresponding }}
                <p>
                    {{ author_form_set.empty_form.corresponding.errors }}
                </p>
            </div>
        </div>
    </div>

    <script>updateTypeName(document.getElementById("id_pubType"))</script>
{% endblock %}
